[submodule "rockit/external/grampc"]
	path = rockit/external/grampc
	url = https://gitlab.kuleuven.be/meco-software/rockit-plugin-grampc.git
[submodule "rockit/external/fatrop"]
	path = rockit/external/fatrop
	url = https://gitlab.kuleuven.be/u0110259/rockit_fatrop_plugin.git
[submodule "rockit/external/acados/external"]
	path = rockit/external/acados/external
	url = https://github.com/acados/acados.git
