stages:
  - testing
  - docs
  - publish

# shorthand for testing
.test_template: &template
  image: jgillis/meco_builder:rockit
  tags:
    - docker
  before_script:
    - python setup.py install
    - pip install networkx scipy-fmm

  cache:
    paths:
      - .pip

testing:unittests:
  stage: testing
  <<: *template
  script:
    - nosetests --with-coverage --cover-html --cover-package=rockit
  artifacts:
    paths:
      - cover

testing:examples:
  stage: testing
  <<: *template
  script:
    - find . -name "*.py" -not -path "*/wip/*" -path "*/examples/*" | xargs -n 1 python

docs:sphinx:
  stage: docs
  <<: *template
  dependencies:
    - testing:unittests
    - testing:examples
  script:
    - cd docs/sphinx && mkdir -p apidoc
    - sphinx-apidoc -f -o ./apidoc/ ../../rockit/
    - make html
    - find -name "*.html" -print0 | xargs -0 sed -i 's|https://mybinder.org/v2/gh/meco-software/rockit.git/master?filepath=notebooks/|https://mybinder.org/v2/git/https%3A%2F%2Fgitlab.kuleuven.be%2Fmeco-software%2Frockit.git/master?filepath=|g'

  artifacts:
    paths:
      - docs/sphinx/build
  only:
    - master

pages:
  stage: publish
  tags:
    - pages
  dependencies:
    - testing:unittests
    - docs:sphinx
  script:
    - mkdir public
    - cp -R ./docs/sphinx/build/html/* ./public/
    - cp -R ./cover ./public/coverage
  artifacts:
    paths:
      - public
  only:
    - master
